body{
    margin: 2px 0px;
}

header{
    color:white;
    font-family: serif;
    background-color:darkgreen;
    font-size:20px;
    padding: 2px 7px;
    margin:0px 20px;
}

header h1{
    margin:0px;
}

.photo{
    margin: 0px 20px;
}

.main{
    background-color: rgb(161, 212, 161);
    padding: 2px 7px;
    margin: 0px 20px;
    font-family:serif;
}

.main h1{
    margin:0px;
    text-align: center;
}

.main h2{
    border-bottom: 1px solid black;
}

footer{
    background-color: rgb(2, 48, 2);
    color: white;
    margin: 0px 20px;
    padding: 2px 2px; 
    font-family: serif;
    text-align: center;
}

footer p{
    margin:0px;
}
